{% extends 'base.html.twig' %}

{% block title %}
Add a new serie
{% endblock %}

{% block main %}
<h1>Add a new serie</h1>
    {{ form_start(serieform) }}
    {{ form_widget(serieform) }}
    <input type="submit" value="Send!">
    {{ form_end(serieform) }}
{% endblock %}