<nav>
    <ul>
        <li><a href="{{ path('default') }}">Default</a></li>
        <li><a href="{{ path('serie_list') }}">Index</a></li>
        <li><a href="{{ path('hello_index') }}">Hello world!</a></li>
    </ul>
</nav>